<div class="btn-group pull-right">
  <button type="button" class="btn btn-danger">Sort by </button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="">Recent</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="">Trending</a></li>
  </ul>
</div>

<% @links.sort_by.reverse_each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.updated_at) %> ago by <%= link.user.email %></small>
    </h2>
  </div>
<% end %>